# .gitignore nella cartella 'ap' (principale)

# Node modules
node_modules/

# Backend specific
server/node_modules/
server/db.json
server/uploads/ # Per i file caricati
.env

# Frontend specific
client/node_modules/
client/build/
.env.local